@import url("./root.css");
footer {
  background-color: var(--teritary-bg-color);
  backdrop-filter: saturate(180%) blur(10px);
  display: flex;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-basis: 0;
  flex-shrink: 0;
  flex-grow: 1;
}

footer div {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-basis: 0;
  flex-grow: 1;
}
footer div:last-child {
  padding-bottom: 0.5vh;
}

footer #InlineURL {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
  margin: 0;
}

footer #InlineURL img {
  max-width: 2.5vw;
}

footer img {
  max-width: 5vw;
}

@media only screen and (max-width: 600px) {
  footer div,
  footer {
    flex-direction: column;
    justify-content: space-between;
    flex-basis: initial;
    flex-grow: initial;
  }
  footer img {
    max-width: 25vw;
  }
  footer #InlineURL {
    gap: initial;
    flex-direction: column;
  }
  footer #InlineURL img {
    max-width: 14.5vw;
  }
}
