@import url("./root.css");
@import url("./slideshow.css");

.FullPageDisplay {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/slideshow/slideshow\ \(1\).png");
  display: flex;
  flex-direction: column;
  color: white;
  flex: 1 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.Information {
  color: var(--teritary-txt-color);
  font-size: 1.25em;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  backdrop-filter: saturate(180%) blur(10px);
  justify-content: center;
}

.Information h2 {
  font-size: 1.5em;
}

.InformationText button:focus,
.InformationText button:hover {
  background-color: var(--secondary-bg-color-hover);
  width: 45vw;
  /* transform: scale(1.1); */
}

@media only screen and (max-width: 600px) {
  .Information {
    flex-direction: column;
  }
}

.InformationBG {
  height: 50vh;
  object-fit: cover;
  max-width: 50vw;
  flex-basis: 50%;
  margin: 1.5%;
  border-radius: 8px;
  transition: transform 1s ease-in-out;
}

.InformationBG:hover,
.InformationBG:focus {
  transform: scale(1.05);
}

.InformationText {
  flex-basis: 50%;
  margin: 1.5%;
  display: flex;
  width: 100%;
  background-color: var(--bg-color-translucent);
  border-radius: 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: saturate(180%) blur(10px);
  text-align: center;
}

.InformationBox {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.InformationBox#IB1 {
  background-image: url("../img/dunamosmp2_aternos.png");
}
.InformationBox#IB2 {
  background-image: url("../img/slideshow/slideshow\ \(15\).png");
}
