@import url("./root.css");

:host {
  flex-shrink: 0;
  display: inline-flex;
  flex-direction: column;
  width: 100vw;
}

.NavBar {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  padding: 1em;
  font-size: 1.05em;
  align-items: center;
  text-align: center;
  color: var(--secondary-txt-color);
  top: 1vh;
  right: 1vw;
  left: 1vw;
  min-height: 0.5vh;
  z-index: 10;
}

.NavBar a {
    text-decoration: none;
    z-index: 1;
}

.NavBar img {
  width: 3.75vw;
  height: auto;
  border-radius: 8px;
  transition: background-color 0.5s;
}
.NavBar p {
  padding: 5px;
  transition: background-color 0.5s;
  background-color: var(--bg-color-translucent);
  backdrop-filter: saturate(180%) blur(10px);
}

.NavBar p.Link {
  display: initial;
  border-radius: 8px;
}

.NavBar p#Menu {
  display: none;
  background-color: var(--secondary-bg-color-hover-translucent);
  backdrop-filter: saturate(180%) blur(10px);
}

.NavBar img:focus,
.NavBar img:hover,
.NavBar p:focus,
.NavBar p:hover {
  cursor: pointer;
  backdrop-filter: saturate(180%) blur(10px);
  background-color: var(--secondary-bg-color-hover);
}

@media only screen and (max-width: 600px) {
  .NavBar {
    flex-direction: column;
    height: auto;
    transition: backdrop-filter 0.3s ease-in;
  }
  .NavBar.enabled {
    height: 100vh;
  }
  div.NavBar.enabled {
    backdrop-filter: saturate(180%) blur(10px);
    z-index: 8;
  }
  .NavBar img {
    width: 80px;
  }
  .NavBar p#Menu {
    display: initial;
    transition: text-shadow 0.5s ease-in, background-color 1s ease-in;
    border-radius: 8px;
    width: 35vw;
  }
  .NavBar p.Link {
    display: none;
    transition: display 0.3s ease-in-out;
  }
  .NavBar p.Link.enabled {
    display: initial;
  }
  .NavBar p#Menu.enabled {
    text-shadow: -0.2px -0.2px 0 white, 0.2px 0.2px 0 white,
      -0.2px 0.2px 0 white, 0.2px -0.2px 0 white;
  }
}
