body {
  background-image: url("../img/slideshow/slideshow\ \(12\).png");
  top: 0;
  display: flex;
  right: 0;
  left: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.NavBarContainer {
  height: max-content;
}

.PageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.PageTitle h1,
.PageTitle p {
  background-color: var(--bg-color-translucent);
  backdrop-filter: saturate(180%) blur(10px);
  font-size: 2.5em;
  border-radius: 8px;
  text-align: center;
  padding: 0.5em;
  width: max-content;
}

@media only screen and (max-width: 600px) {
  .PageTitle h1,
  .PageTitle p {
    margin: 1em;
  }
}

.PageTitle p {
  font-size: 1.5em;
  padding: 0.5em;
}

.ContentBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  width: 100vw;
  flex: 1 0 auto;
}
.Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
  margin: auto;
  transition: display 1s ease-in-out;
  flex: 1 0 auto;
}

.Item h2,
.Item h3,
.Item h4,
.Item p,
.Item ul,
.Item ol {
  text-align: center;
  word-wrap: break-word;
}

.Item p,
.Item li {
  font-size: 1.1em;
}
.Item h2,
.Item h3,
.Item h4 {
  font-size: 1.75em;
}
.Item h3 {
  font-size: 1.5em;
}
.Item h4 {
  font-size: 1.25em;
}
.Item img {
  max-width: 50vw;
  transition: scale 1s ease-in-out, border 1s ease-in-out;
  border-radius: 8px;
}
.Item img:hover {
  scale: 1.01;
  border: 1px white solid;
  transform: scale(1.01);
  z-index: 5;
}

.Item .ItemSplit {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  border-radius: 8px;
  background-color: var(--teritary-bg-color);
  gap: 1em;
}

.Item .ItemSplit .ImgBox,
.Item .ItemSplit img {
  width: 50vw;
  border-radius: 8px;
  flex: 1 0 auto;
}
.Item .SplitInner {
  flex: 0 1 auto;
  padding: 0.5em;
}

@media only screen and (max-width: 600px) {
  .Item .ItemSplit {
    flex-direction: column;
  }
}

.ImgBox {
  display: inline-block;
  padding: 0.5em;
}

.ImgBox img {
  display: block;
}
hr {
  color: var(--bg-color);
  visibility: hidden;
}
