/* @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Hachi+Maru+Pop&family=Long+Cang&display=swap"); */

/* Not by me, license below
 * https://pm85122-onamae-jp.translate.goog/851fontTerm.html?_x_tr_sl=ja&_x_tr_tl=en&_x_tr_hl=de&_x_tr_pto=wapp
 */

:root {
  --bg-color: #000000;
  --bg-color-translucent: rgba(0, 0, 0, 0.6);
  --txt-color: white;
  --secondary-bg-color: #aa0000;
  --secondary-bg-color-translucent: rgba(170, 0, 0, 0.6);
  --secondary-bg-color-hover: #cc0000;
  --secondary-bg-color-hover-translucent: rgba(204, 0, 0, 0.6);
  --secondary-txt-color: white;
  --teritary-bg-color: #555555;
  --teritary-bg-color-translucent: rgba(85, 85, 85, 0.6);
  --teritary-txt-color: white;
}

/* Screw light users */
@media (prefers-color-scheme: light) {
  :root {
    --bg-color: white;
    --bg-color-translucent: rgba(256, 256, 256, 0.6);
    --txt-color: black;
    --teritary-bg-color: #aaaaaa;
    --teritary-bg-color-translucent: rgba(170, 170, 170, 0.6);
    --teritary-txt-color: black;
  }
}

html,
body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  font-family: "Noto-sans", sans-serif;
  color: var(--txt-color);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

button:hover {
  cursor: pointer;
}

button {
  background-color: var(--secondary-bg-color);
  color: var(--secondary-txt-color);
  border: none;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 2vh;
  min-width: max-content;
  width: 25vw;
  max-height: max-content;
  font-size: 1em;
  line-height: 0%;
  font-weight: normal;
  transition: background-color 1s ease-in-out, width 1s ease-in-out,
    transform 1s ease-in-out;
}

a {
    color: var(--txt-color);
    text-decoration-line: underline;
}
a:visited {
    text-decoration-line: none;
    color: var(--teritary-txt-color)
}

button a {
    text-decoration: none;
    text-align: center;
}

strong {
    font-weight: bold;
}

