.FullPageDisplay.Animated {
  --1st-bg: url("../img/slideshow/slideshow\ \(1\).png");
  --2nd-bg: url("../img/slideshow/slideshow\ \(2\).png");
  --1st-opacity: 1;
  --2nd-opacity: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: var(--1st-bg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: var(--1st-opacity);
  transition: opacity 1s;
  color: white;
  flex: 1 0 auto;
}

.FullPageDisplay.Animated::before {
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: var(--2nd-bg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: var(--2nd-opacity);
  transition: opacity 1s;
  z-index: 9;
}

.FullPageDisplay > h1 {
  overflow-wrap: break-word;
  font-size: 3.5em;
  padding: 5vw;
  flex: 1 0 auto;
}
.FullPageDisplay > button,
.FullPageDisplay > a {
  position: relative;
  width: max-content;
  font-size: 1.5em;
  align-self: end;
  margin: end;
  padding: 2.5vw;
  transition: transform 1s ease-in-out;
}

.FullPageDisplay > a:focus,
.FullPageDisplay > a:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 600px) {
  .FullPageDisplay > a,
  .FullPageDisplay > button {
    width: 90vw;
    text-align: center;
  }
  .FullPageDisplay > h1 {
    text-align: center;
  }
}
