@import url("../root.css");
@import url("../page.css");

.Slideshow {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Slideshow img {
  width: 75vw;
  object-fit: cover;
  height: 50vh;
  border-radius: 8px;
}

.Slideshow #SlideShowContent {
  --bg: "";
  width: 75vw;
  height: 50vh;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: var(--bg);
}

.Slideshow .SlideShowContentName {
  position: absolute;
  bottom: 1vh;
  right: 1vw;
  text-align: right;
  font-size: 1.5em;
  background-color: var(--bg-color-translucent);
  backdrop-filter: saturate(180%) blur(10px);
  padding: 1%;
  border-radius: 8px;
}

.Slideshow #SlideShowNext,
.Slideshow #SlideShowPrev {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  top: 5vh;
  bottom: 5vh;
  opacity: 0;
  width: 5vw;
  backdrop-filter: blur(10px);
  transition: opacity 0.25s ease-in-out;
}

.Slideshow #SlideShowNext:hover,
.Slideshow #SlideShowPrev:hover {
  cursor: pointer;
  opacity: 1;
  user-select: none;
}

.Slideshow #SlideShowNext {
  right: 0vw;
}
.Slideshow #SlideShowPrev {
  left: 0vw;
}

@media only screen and (max-width: 600px) {
  .Slideshow #SlideShowContent {
    width: 100vw;
    object-fit: cover;
  }
  .Slideshow .SlideShowContentName {
    bottom: 1vh;
    right: 1vw;
    left: 1vw;
    text-align: center;
  }
  .Slideshow #SlideShowNext,
  .Slideshow #SlideShowPrev {
    opacity: 1;
    padding: 1%;
  }
}

